body {
    background: linear-gradient(90deg, #000000, #171717);
}
* {
    color: white;
    font-family: "Poppins", sans-serif;
    opacity: 1;
    opacity: 1; transform: translateY(0px); animation: 0.5s ease 0s 1 normal forwards running fadeIn;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.centrado {
    text-align: center;
}



#titestudios {
    text-align: center;
    margin-top: 15px;
}

.estudios {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 50px;
}

.colegios {
    display: flex;
    flex-direction: column;
}

.colegios img {
    width: 400px;
    height: 300px;
    margin-top: 5px;
}

.elementos {
    font-size: 30px;
    row-gap: 100px;
    flex-direction: row;
}

.elementos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin-left: 20px;
}

.listarelementos li {
    margin-bottom: 30%;
}


.proyectos {
    opacity: 1; transform: translateY(0px); animation: 0.5s ease 0s 1 normal forwards running fadeIn;
    margin-top: 20px;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly; 
}

.cont {
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    width: 100%;
}

.Habilidades {
    color: black;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px; 
    height: 200px; 
    margin: 10px;
    font-size: 30px;
    border: 5px solid black;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.proyecto {
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px; 
    height: 250px; 
    font-size: 30px;
    border: 5px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.subcont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.proyectos p {
    text-align: center; 
    font-size: 20px; 
    margin-top: 10px;
}

#imagenPR1 {
    background-image: url(IMG/romagnolilibertadores.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


#imagenPR2{
    background-image: url(IMG/logoagenciaviajes.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#imagenPR3{
    background-repeat: no-repeat;
    background-size: cover;
}

#sobrehab {
    font-size: 25px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 50px; 
}

.conthab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 800px;
    gap: 20px;
}

.conthab div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.conthab h1 {
    margin-top: 10px;
    font-size: 18px;
}
.titulos {
    font-size: 80px;
    color: #f1d03f;
}


#habhtml {
    background-image: url(IMG/HTML.png);
}

#habcss {
    background-image: url(IMG/CSS.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#habbd {
    background-image: url(IMG/mysql.png); 
}

#habphp {
    background-image: url(IMG/PHP.png); 
}

#habpython {
    background-image: url(IMG/python.png);
}

#habcpp {
    background-image: url(IMG/CPP.png); 
    background-size: cover;
    background-repeat: no-repeat;

}
.sobremi{
    font-size: 20px;
    text-align: center;
    margin: 0px 20px;
}

.button-icon {
    display: flex;
    border: 3px #fff solid;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
  }
  
  .icon {
    background-color: #fff;
    padding: 10px 10px 5px 10px;
  }
  
  .icon svg {
    width: 25px;
    height: 25px;
  }
  
  .cube {
    transition: all 0.4s;
    transform-style: preserve-3d;
    width: 200px;
    height: 20px;
  }
  
  .button-icon:hover {
    border-color: #ff98a2;
  }
  
  .button-icon:hover .cube {
    transform: rotateX(90deg);
  }
  
  .side {
    position: absolute;
    height: 47px;
    width: 200px;
    display: flex;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
  }
  
  .top {
    background: #ff98a2;
    color: #fff;
    transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
  }
  
  .front {
    background: #222229;
    color: #fff;
    transform: translate3d(0, 0, 1em);
  }