body {
    background: linear-gradient(90deg, #000000, #171717);
    padding-top: 60px; 
}

* {
    color: white;
    font-family: "Poppins", sans-serif;
    opacity: 1;
    text-decoration: none;

}

.customCheckBoxHolder {
    margin: 5px;
    display: flex;
  }
  
  .customCheckBox {
    width: fit-content;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    padding: 2px 8px;
    background-color: rgb(36, 59, 159);
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.7);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: color, background-color, box-shadow;
    display: flex;
    height: 32px;
    align-items: center;
    box-shadow: rgba(22, 44, 155, 0.15) 0px 2px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
    outline: none;
    justify-content: center;
    min-width: 55px;
  }
  
  .customCheckBox:hover {
    background-color: #2d4581;
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
  }
  
  .customCheckBox .inner {
    font-size: 18px;
    font-weight: 900;
    pointer-events: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: transform;
    transform: translateY(0px);
  }
  
  .customCheckBox:hover .inner {
    transform: translateY(-2px);
  }
  
  /* Multiple Checkboxes can be chained together for a radio input */
  .customCheckBoxWrapper:first-of-type .customCheckBox {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 0px;
  }
  
  .customCheckBoxWrapper:last-of-type .customCheckBox {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 0px;
  }
  
  .customCheckBoxInput {
    display: none;
  }
  
  .customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox {
    background-color: #2d6737;
    color: white;
    box-shadow: rgba(193, 79, 79, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
  }
  
  .customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox .inner {
    transform: translateY(-2px);
  }
  
  .customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox:hover {
    background-color: #34723f;
    box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
  }
  
  .customCheckBoxWrapper .customCheckBox:hover .inner {
    transform: translateY(-2px);
  }

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

header {
    height: 60px;
    color: white;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    align-items: center;
    background-color: #1A2130;
    justify-content: space-between;
    justify-content: space-around; /* Para separar las dos columnas */
    animation: slideDown 1s ease-out; /* Aplica la animación */
    z-index: 2; /* Asegura que el header esté por delante del contenido */
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
}

header.visible {
    transform: translateY(0);
    opacity: 1;
}

.header-left{
    margin-left: 20px;
}

.header-left a,
.contact-toggle {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.header-left a:hover::before,
.contact-toggle:hover::before {
    width: 100%;
}

.header-left a:hover,
.contact-toggle:hover {
    color: #f1d03f;
}

.header-left a::before,
.contact-toggle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #f1d03f;
    transition: width 0.3s ease-in-out;
}


/* El resto del CSS sigue igual */

.containheader {
    position: relative;
}

.contact-details {
    display: none;
    position: absolute;
    align-items: center;
    top: 60px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1;
    list-style: none;
    text-decoration: none;

}

.contact-details.show {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
    text-decoration: none;

}

.contact-details li {
    margin: 5px 0;
    text-decoration: none;

}

.contact-details a {
    color: #000000;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: none;
    color: #5A72A0;
}


.holdheader {
    position: relative;
    overflow: hidden;
    z-index: 1;
}


.habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.habilidad {
    flex: 1 1 calc(50% - 10px); /* Cada habilidad ocupa el 50% del ancho menos 10px */
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
    margin-bottom: 20px; /* Espacio entre filas */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alineación del contenido */
    font-size: 20px;
    border: 2px solid rgba(255, 255, 255, 0.412);
    margin: 2px;
    transition: transform 0.3s ease-in-out; /* Transición para la animación */
}

.habilidad img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 10px auto; /* Centrar la imagen y añadir espacio inferior */
}

.habilidad h3 {
    text-align: center;
}

.habilidad p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.habilidades:hover .habilidad:not(:hover) {
    transform: scale(0.9); /* Achica los divs no seleccionados */
}

.habilidad:hover {
    transform: scale(1.1); /* Agranda el div seleccionado al 110% de su tamaño original */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agregar sombra para más efecto */
}


.holdheader::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(30, 107, 166);
    transition: bottom 0.3s ease;
    z-index: -1;
}

.holdheader:hover::before {
    bottom: 0;
}

.holdheader:hover {
    color: white;
}

.centrado {
    text-align: center;
}

#titestudios {
    text-align: center;
    margin-top: 15px;
}

.estudios {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 50px;
    padding: 20px;
}

.colegios {
    display: flex;
    flex-direction: column;
}

.colegios img {
    width: 100%;
    height: auto;
    margin-top: 5px;
    border: 5px solid white;
    border-radius:  10%;
    background-size: cover;
    box-sizing: border-box;
    margin-right: 5px;
}

.elementos {
    font-size: 30px;
    margin-left: 20px;
}

.listarelementos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 80vh;
}

.proyectos {
    opacity: 1;
    transform: translateY(0px);
    animation: 0.5s ease 0s 1 normal forwards running fadeIn;
    margin-top: 20px;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
}

.cont {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 100%;
}
.progress-bar {
    margin: 10px auto 0; /* Margen superior y centrado horizontal */
    width: 80%; /* Ancho deseado */
}
.Btn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background-color: rgb(31, 31, 31);
    overflow: hidden;
  }
  
  .svgIcon {
    transition-duration: .3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
  }
  
  .Btn:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
  }
  
  .Btn:hover .text {
    opacity: 1;
    transition-duration: .4s;
  }
  
  .Btn:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
  }

.proyecto {
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    font-size: 30px;
    border: 5px solid black;
    border-radius: 50%;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.subcont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyectos p {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

#imagenPR1 {
    background-image: url(IMG/romagnolilibertadores.jpg);
}

#imagenPR2 {
    background-image: url(IMG/logoagenciaviajes.png);
}

#imagenPR3 {
    background-color: white;
}

#sobrehab {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.conthab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px; /* Ajusta este valor según el diseño general */
    gap: 20px; /* Espacio entre los elementos */
}

.conthab div {
    flex: 1 1 calc(50% - 20px); /* 50% del ancho menos el espacio entre elementos */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.conthab h1 {
    margin-top: 10px;
    font-size: 18px;
}


.titulos {
    font-size: 40px;
    color: #f1d03f;
    margin-top: 100px;
}

.sobremi {
    font-size: 20px;
    text-align: center;
    margin: 0px 20px;
}



.seccion-habilidades {
    padding: 20px;
    background-color: #f9f9f9;
}



.top {
    background: #ff98a2;
    color: #fff;
    transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
    background: #222229;
    color: #fff;
    transform: translate3d(0, 0, 1em);
}

/* Media Queries */

@media (max-width: 1200px) {
    .estudios {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    
    .elementos {
        font-size: 25px;
        margin-left: 0;
    }

    .listarelementos {
        height: auto;
    }

    .proyectos {
        flex-direction: column;
    }

    .subcont {
        margin: 10px 0;
    }
    .habilidades{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (max-width: 768px) {
    .colegios {
        flex-direction: column;
    }

    .image-container {
        width: 100%;
    }

    .cont {
        display: grid;
        grid-template-columns: 1fr;
    }

    .subcont {
        width: 100%;
    }
    .habilidades{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact-details{
        padding: 30px;
        font-size: 20px;
    }
    .sobremi{
        font-size: 13px;
        
    }
    .titulos{
        font-size: 50px;
    }
    .habilidades{
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .conthab div {
        flex: 1 1 100%; 
    }

    .Habilidades {
        width: 100px;
        height: 100px;
        font-size: 16px;
    }
    
    .conthab h1 {
        font-size: 14px;
    }
}