@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
div a{
    color: white;
}
header {
    border: 5px solid white;
    height: 60px;
    color: white;
    display: flex; /* Cambiado de grid a flex */
    position: fixed;
    width: 100%;
    align-items: center;
    background-color: #000000;
    justify-content: space-between; /* Para separar las dos columnas */
    animation: slideDown 1s ease-out; /* Aplica la animación */
}

.containheaderleft, .containheaderrig {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1; /* Hace que cada contenedor ocupe el mismo espacio */
    height: 60px;
}

.holdheaderrig, .holdheaderleft {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255); /* Esto es opcional, según tu estilo */
    flex: 1; /* Hace que los elementos hijos ocupen todo el espacio disponible */
    text-align: center; /* Asegura que el texto esté centrado */
}

.holdheader {
    position: relative;
    overflow: hidden;
    z-index: 1; /* Asegura que el texto esté en frente */
}

.holdheader::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(30, 107, 166);
    transition: bottom 0.3s ease;
    z-index: -1; /* Asegura que el pseudo-elemento esté detrás */
}

.holdheader:hover::before {
    bottom: 0;
}

.holdheader:hover {
    color: black; /* Cambia el color del texto al hacer hover */
}

.titulo {
    color: #f1d03f;
    font-size: 50px;
    text-align: center;
}

* {
    font-family: "Poppins", sans-serif;
}

.yo {
    color: #ffffff;
}

#fotoperfil {
    width: 250px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #000000, #292929);
}

#textsobremi {
    color: #ffffff;
    font-size: 30px;
}

#pp {
    margin-right: auto;
}

.righttop {
    margin-left: auto;
}

.content {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#carrera {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

button {
    display: flex;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}

button:hover {
    color: #e8e8e8;
}

button:hover::before {
    width: 100%;
}

#boton {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.nav-button {
    background-color: #000000;
    color: #ffffff;
}

.nav-button:hover {
    background-color: #000000;
}

#boton1 {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 500px;
    padding-bottom: 16px;
    padding-top: 16px;
    background: #d5f365;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 10px;
}

#boton1 a {
    text-decoration: none;
}

#boton1:hover {
    box-shadow: 7px 5px 56px -14px #9ba06b;
    text-decoration: none;
}

#boton1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #f9fce5;
    text-decoration: none;
}

#boton2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

div a {
    text-decoration: none;
}

.btn {
    margin-left: 5px;
    display: grid;
    place-items: center;
    background: #000000;
    width: 50px;
    height: 70px;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: transform 0.5s;
}

.btn:hover {
    border: 1px solid rgba(223, 43, 43, 0.788);
    transform: translateY(0.5em);
}

.btn svg {
    transition: transform 0.5s;
}

.btn:hover svg {
    transform: scale(0.9);
    fill: #c51d1d;
}
