/* Mantén los estilos existentes y agrega estas nuevas reglas */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div a {
    color: white;
}
.descimg{
    margin-top: -20px;
}
header {
    height: 60px;
    color: white;
    display: flex; /* Cambiado de grid a flex */
    position: fixed;
    width: 100%;
    align-items: center;
    background-color: #1A2130;
    justify-content: space-around; 
    animation: slideDown 1s ease-out; 
    z-index: 2; 
}

header.visible {
    transform: translateY(0);
    opacity: 1;
}

.header-left{
    margin-left: 20px;
}

.header-left a,
.contact-toggle {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.header-left a:hover::before,
.contact-toggle:hover::before {
    width: 100%;
}

.header-left a:hover,
.contact-toggle:hover {
    color: #f1d03f;
}

.header-left a::before,
.contact-toggle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #f1d03f;
    transition: width 0.3s ease-in-out;
}

.titulo {
    color: #f1d03f;
    font-size: 50px;
    text-align: center;
}

* {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.yo {
    color: #ffffff;
    text-align: center;
}

#fotoperfil {
    width: 250px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #000000, #292929);
}

#textsobremi {
    color: #ffffff;
    font-size: 30px;
    text-align: center; /* Centrar el texto */
}

#pp {
    margin-right: auto;
}

.righttop {
    margin-left: auto;
}

.content {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.sobremi {
    flex: 1;
}

#carrera {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center; /* Centrar el texto */
}

button {
    display: flex;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}

button:hover {
    color: #e8e8e8;
}

button:hover::before {
    width: 100%;
}

#boton {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10px; /* Añadir espacio entre los botones */
}

.nav-button {
    background-color: #000000;
    color: #ffffff;
}

.nav-button:hover {
    background-color: #000000;
}

#boton1 {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 500px;
    padding-bottom: 16px;
    padding-top: 16px;
    background: #d5f365;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 10px;
}

#boton1 a {
    text-decoration: none;
}

#boton1:hover {
    box-shadow: 7px 5px 56px -14px #9ba06b;
    text-decoration: none;
}

#boton1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #f9fce5;
    text-decoration: none;
}

#boton2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

div a {
    text-decoration: none;
}

.btn {
    margin-left: 5px;
    display: grid;
    place-items: center;
    background: #000000;
    width: 50px;
    height: 70px;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: transform 0.5s;
}

.btn:hover {
    border: 1px solid rgba(223, 43, 43, 0.788);
    transform: translateY(0.5em);
}

.btn svg {
    transition: transform 0.5s;
}

.btn:hover svg {
    transform: scale(0.9);
    fill: #c51d1d;
}

.containheader {
    position: relative;
}

.contact-details {
    display: none;
    position: absolute;
    align-items: center;
    top: 60px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1;
    list-style: none;
    text-decoration: none;

}

.contact-details.show {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
    text-decoration: none;
}

.contact-details li {
    margin: 5px 0;
    text-decoration: none;

}

.contact-details a {
    color: #000000;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: none;
    color: #5A72A0;
}

/* Media Queries para hacer la página responsiva */
@media (max-width: 1200px) {
    .titulo {
        font-size: 40px;
    }

    #textsobremi {
        font-size: 25px;
    }

    #fotoperfil {
        width: 200px;
    }
}

@media (max-width: 992px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    #boton button {
        width: 80%;
    }

    #boton1 {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .titulo {
        font-size: 35px;
    }

    #textsobremi {
        font-size: 22px;
    }

    #fotoperfil {
        width: 150px;
    }

    button {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 576px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra la imagen */
    }

    .titulo {
        font-size: 30px;
    }

    #textsobremi {
        font-size: 20px;
        width: 300px;
        text-align: center; /* Centra el texto */
    }

    #fotoperfil {
        width: 120px;
        margin: 0 auto; /* Centra la imagen */
    }

    button {
        width: 100%;
    }

    #boton1 {
        width: 100%;
    }

    .btn {
        display: block;
        width: 10px; /* Reducir el tamaño del ícono de Github */
        height: 70px;
        border-radius:60%;
    }
}
